@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
}

@font-face {
  font-family: 'Staatliches';
  src: url('./fonts/Staatliches-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
